.App {
  text-align: center;
  width: 100%;
  background-image: url('D:/stage/stage app/client/src/img/im2.jpg');
width:1500px;
height:800px;

}
label{
  font-size: 30px;
  color:aqua;
}
h1{

  color: aqua;
}
.btn bnt-dark{
  padding-left: 20px; 
}
